<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body class='container'>
  <div id="vueTemplates" style="display: none;">
    <div id='notificatorTemplate'>
      <div>
        <transition name='fade' v-for="item in notifications">
          <div
            v-bind:class='item.classObject'
            v-if='item.active'
            >{{item.text}}</div>
        </transition>
      </div>
    </div>
    <div id="permutatorTemplate">
      <div>
        <h2 class='title is-5'>Permutator</h2>
        <button 
          class='button is-primary'
          v-bind:disabled="cantAddMore"
          @click="addInput">add +1 field</button>
        <button 
          v-bind:class='button.classObject' 
          @click="permutateClear"
          >{{ button.title }}</button>
        <hr />
        <p
          v-for="input in inputs"
          ><input type='text' class='input permut' v-model="input.value"></p>
        <textarea class='textarea' v-model='text'>{{ text }}</textarea>
      </div>
    </div>
    <div id='summatorTemplate'>
      <div class='box longbox'>
        <h2 class='title is-5'>Summator</h2>
        <p class='notification is-primary'>{{sumValue}}</p>
        <trigger 
          v-for="item in triggers"
          :key="item.id"
          :trigger="item"
          class="trigger"
          ></trigger>
        <hr />
        <div class="field is-grouped">
          <div class="control">
            <button
              class="button is-primary"
              v-bind:disabled="cantSpeedUp"
              v-on:click="speedUp"
              >
              speed up
            </button>
            <button
              class="button is-primary"
              v-bind:disabled='cantSlowDown'
              v-on:click='slowDown'
              >
              slow down
            </button>
          </div>
          <div class="control">
            <button
              v-on:click="startStopSum"
              v-bind:class='env.sumButton.classObject'
              >{{env.sumButton.title}}</button>
            <button
              class='button is-danger'
              v-on:click="reset"
              >reset</button>
          </div>
          <div class="control">
            <button
              class='button is-primary'
              v-on:click="makeTriggerLeft"
              v-bind:disabled="cantAddMore"
              >{{env.addLeftButton.title}}</button>
            <button
              class='button is-primary'
              v-on:click="makeTriggerRight"
              v-bind:disabled="cantAddMore"
              >{{env.addRightButton.title}}</button>
          </div>
        </div>
      </div>
    </div>
    <div id="triggerTemplate">
      <button v-bind:class='{active: active}' disabled></button>
    </div>
  </div>
  <div class="columns is-multiline">
    <div class="column has-text-centered is-half" id="summator_component">
      <summator v-bind:env="env"></summator>
    </div>
    <div class="column has-text-centered is-half" id="clock">
      <div class='box longbox'>
        <h2 class='title is-5'>Binary clock</h2>
        <p class='notification is-info'>{{hours}}:{{minutes}}:{{seconds}}.{{milliseconds}}</p>
        <hr />
        <p class='notification time'>
          <trigger
            v-for="item in hourClock.getTriggers()"
            :key="item.id"
            :trigger="item"
            class="trigger"
            ></trigger>
        </p>
        <p class='notification time'>
          <trigger
            v-for="item in minuteClock.getTriggers()"
            :key="item.id"
            :trigger="item"
            class="trigger"
            ></trigger>
        </p>
        <p class='notification time'>
          <trigger
            v-for="item in secondClock.getTriggers()"
            :key="item.id"
            :trigger="item"
            class="trigger"
            ></trigger>
        </p>
      </div>
    </div>    
    <div class='column has-text-centered is-half'>
      <div class='box' style='height: 100%;' id='permutator'>
        <permutator v-bind:env="env"></permutator>
      </div>
    </div>
    <div class="column has-text-centered is-half" id='sqr'>
      <div class='box'>
        <h2 class='title is-5'>The smartest calculator</h2>
        <div class='tile is-ancestor'>
          <div class="tile is-parent">
            <div class="tile is-child">
              <p>x (only integer values)</p>
              <input type='number' class='input' v-model.number='square' v-bind:disabled="xDisabled">
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile is-child">
              <p>x*x (only integer values)</p>
              <input type='number' class='input' v-model.number='power' v-bind:disabled='xxDisabled'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='notification-corner top right' id='notificationsHolderTopRight'>
    <notificator v-bind:env='env' ref='main'></notificator>
  </div>
  <script src="scripts/vue.min.js"></script>
  <script src="scripts/debouncer.js"></script>
  <script src="trigger/trigger.js"></script>
  <script>
  Vue.config.debug = false;
  Vue.config.devtools = false;
  Vue.config.productionTip = false;
  </script>  
  <script src="vue_components/summator.js"></script>
  <script src='vue_components/permutator.js'></script>
  <script src='vue_components/notificator.js'></script>
  <script src='trigger/binaryclock.js'></script>
  <script src='main.js'></script>
</body>
</html>