<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="styles/tictac.css" />
  <title>Tic-tac-toe game. Play for free</title>
</head>
<body>
  <section class='section' id='theGame'>
    <div class='container'>
      <div class='tile is-parent'>
        <div class='tile is-child is-1'></div>
        <div class='tile is-child is-10 has-text-centered'>
          <h3 class='title is-3'>Tic-tac-toe</h3>
          <hr />
          <div v-for="(row, rowIndex) in rows">
            <p
              v-for='(cell, cellIndex) in row'
              v-bind:class='cell.classObject'
              v-on:click="processCellClick(rowIndex, cellIndex)"
              >{{ cell.value }}</p>
          </div>
          <hr />
          <h4
            class='title is-4'
            >{{ gameMessage }}</h4>
        </div>
        <div class='tile is-child is-1'></div>
      </div>
    </div>
  </section>
  <script src="https://unpkg.com/vue"></script>
  <script>
  Vue.config.debug = true;
  Vue.config.devtools = true;
  Vue.config.productionTip = false;
  </script>  
  <script src='scripts/xo.js'></script>
</body>
</html>