html {
background-color: cadetblue;
}
body {
  padding-top: 10px;
}
.trigger {
  border-radius: 50px;
  border: none;
  height: 2.5em;
  width: 2.5em;
  background-color: #4caf50;
  margin-left: 2px;
  margin-right: 2px;
}
.trigger.active {
  background-color: #f44336;
}
p.sumvalue {
  margin-bottom: 40px;
  margin-top: 50px;
}
p.sumvalue span {
  background-color: #68ef68;
  border: none;
  border-radius: 50px;
  font-size: 1.5em;
  line-height: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 3px;
}
.summator-control {
  margin-bottom: 5px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-size: 2em;
  max-height: 40px;
  border-radius: 10px;
}
.tile.is-vertical.add>.tile.is-child:not(:last-child) {
  margin-bottom: 0px !important;
}
.control-panel {
  margin-top: 40px !important;
}
.input.permut {
  max-width: 300px;
}
p .input.permut {
  margin-bottom: 5px !important;
}
.notification.top {
    position: fixed;
    margin: 5px;
    z-index: 1000;
    top: 0px;
}
.notification.top.right {
  right: 0px;
}
.notifcation.top.left {
  left: 0px;
}